<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/985c010c44.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="login">
    <header>
        <div class="header_div_conteiner">
        <div class="header_div">
            <img src="images/logo-mercado-liebre.svg" class="logo">
        </div>
        <div class="header_div"> 
            <form class="header_div_form" action="">
                <input type="text"  placeholder="Buscar productos, marcas">
              <button onclick="alert('Hola estamos procesando tu información!')"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        </div>

        <p class="header_p"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>

        <nav class="header_navbar"> 
            <ul >
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
            
    </header>
    
</body>
</html>