<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/985c010c44.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="register">
    <header>
        <div class="header_div_conteiner">
            <div class="header_div">
                <img src="images/logo-mercado-liebre.svg" class="logo">
            </div>
            <div class="header_div">
                <form class="header_div_form" action="">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button onclick="alert('Hola estamos procesando tu información!')"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>

        <p class="header_p"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
        </p>

        <nav class="header_navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <main>
        <p>Creá tu cuenta</p>
        <form action="/" method="get" class="register_form">
            <label for="nombre">Nombre y apellido:</label>
            <input type="text" name="nombre" id="nombre" placeholder="Ej: Manuel Gonzalez">
            <br><br>
            <label for="usuario">Nombre de Usuario:</label>
            <input type="text" name="usuario" id="usuario" placeholder="Ej: Manuel Gz">
            <br><br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Ej: manuelGz@gmail.com">
            <br><br>
            <label for="nacimiento">Fecha de nacimiento:</label>
            <input type="date" name="nacimiento" id="nacimiento">
            <br><br>
            <label for="domicilio">Domicilio:</label>
            <input type="text" name="domicilio" id="domicilio" placeholder="Ej: Leon Suarez 5489">
            <br><br>
            <label for="perfil">Perfil del usuario</label>
            <input type="radio" name="perfil" id="perfil" value="Comprador">
            <input type="radio" name="perfil" id="perfil" value="Vendedor">
            <br><br>
            <label for="intereses">Intereses</label><br>
            <input type="checkbox" name="electro" id="intereses" value="electro">Electro <br>
            <input type="checkbox" name="moda" id="intereses" value="moda">Moda <br>
            <input type="checkbox" name="hogar" id="intereses" value="hogar">Hogar <br> 
            <input type="checkbox" name="juguetería" id="intereses" value="juguetería">Juguetería <br>
            <input type="checkbox" name="vida sana" id="intereses" value="vida sana">Vida sana 
            <br>
        
            <label for="foto">Foto de usuario</label>
            <input type="file" name="foto" id="foto" accept=".jpg, .png"><br><br>
            <label for="Cont">Contraseña</label>
            <input type="password" id="cont" name="contraseña"><br><br>
            <label for="cont 2">Confirmar contraseña</label>
            <input type="password" id="cont 2" name="contraseña 2"><br><br>    
            <button type="submit">Enviar</button>    
            <button type="reset">Borrar</button>


        </form>





    </main>

</body>

</html>